<style>
  video{
    display: block;
    width: 100%;
  }
  .btn-box{
        display: flex;
    justify-content: center;
    gap: 50px;
  }
  .btn-box span{
    cursor: pointer;
  }
</style>

<div class="video-control">
  <div class="video-wrapper">
    {{ section.settings.video | video_tag:class:"video-banner", autoplay: false, loop: true, muted: true, controls: false, image_size:'master' }}
  </div>
  <div class="btn-box">
    <span class="prev">prev</span>
    <span class="next">next</span>
  </div>
</div>


<script>
  console.log($('.video-banner'))
</script>

{% schema %}
  {
    "name": "SPX Video conntrol",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label": "A Shopify-hosted video"
      }
    ],
  "presets": [
    {
      "name": "SPX Video conntrol"
    }
  ]
    
  }
{% endschema %}