<style>

</style>

<div class="video-control">
  <div class="video-wrapper">
    {{ section.settings.video | video_tag:class:"123", autoplay: false, loop: true, muted: true, controls: false, image_size:'master' }}
  </div>
</div>


<script>

</script>

{% schema %}
  {
    "name": "SPX Video conntrol",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label": "A Shopify-hosted video"
      }
    ],
  "presets": [
    {
      "name": "SPX Video conntrol"
    }
  ]
    
  }
{% endschema %}