<style>
  video{
    display: block;
    width: 100%;
  }
  .btn-box{
        display: flex;
    justify-content: center;
    gap: 50px;
  }
  .btn-box span{
    cursor: pointer;
  }
</style>

<div class="video-control">
  <div class="video-wrapper">
    {{ section.settings.video | video_tag:class:"video-banner", autoplay: false, loop: false, muted: true, controls: false, image_size:'master' }}
  </div>
  <div class="btn-box">
    <span class="prev">prev</span>
    <span class="next">next</span>
  </div>
</div>


<script>
  console.log($('.video-banner'))
  let banner_video = $('.video-banner')[0];
  let prev_btn = $('.btn-box .prev');
  let next_btn = $('.btn-box .next');
  next_btn.click(function(){
    banner_video.play(); // 开始播放
    // 在2秒后停止播放
    setTimeout(function(){
        banner_video.pause();
    }, 2000); // 2000 毫秒 = 2 秒
  })
  prev_btn.click(function(){
    banner_video.currentTime = 0;
  })
</script>

{% schema %}
  {
    "name": "SPX Video conntrol",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label": "A Shopify-hosted video"
      }
    ],
  "presets": [
    {
      "name": "SPX Video conntrol"
    }
  ]
    
  }
{% endschema %}