<style>
  .text-center{
    text-align: center;
  }
  .text-bottom{
    margin-bottom: 32px;
  }
  .nas-selector .top,
  .step{
    margin: 80px auto;
  }
  .nas-selector .selector-box{
    display: flex;
    justify-content: space-between;
  }
  .step1-selection{
    width: 48%;
  }
</style>

{% assign obj = page.metafields.custom.selector.value | parse_json %}
<script>var nasSelectorData = {{ obj | json }};</script>
{% assign baysObj = obj.bays.value  %}
{% assign bays = baysObj.bays %}
{% assign funcitons = obj.funcitons.value %}
{% assign number = obj.number.value %}
{% assign products = obj.products.value %}
{% assign userType = obj.user_type.value %}

<div class="nas-selector container">
  {% for bay in bays %}<span>{{ bay.type | json | strip_html }}</span>{% endfor %}
  <div class="top text-center">
    <h1 class="heading text-bottom">NAS Selector</h1>
    <p>With a wide range of Synology products to offer, we want to make the selection process as easy as possible. Simply enter your requirements below, and this tool will recommend the most suitable NAS server for you.</p>
  </div>
  <div id="step1" class="step">
    <h2 class="section-title text-center text-bottom">Which type of user are you?</h2>
    <div class="selector-box">
      {% for type in userType %}
        <div class="step1-selection text-center">{{ type }}</div>  
      {% endfor %}
    </div>
    
  </div>
</div>


<script>
      console.log(nasSelectorData);

      // 示例：遍历并使用数据
      var bays = nasSelectorData.bays;
      var functions = nasSelectorData.functions;
      var number = nasSelectorData.number;
      var products = nasSelectorData.products;
      var userType = nasSelectorData.user_type;

      // 示例：遍历 bays
      for (var bay in bays) {
        if (bays.hasOwnProperty(bay)) {
          console.log(bay, bays[bay]);
        }
      }

      // 示例：遍历 functions
      for (var func in functions) {
        if (functions.hasOwnProperty(func)) {
          console.log(func, functions[func]);
        }
      }
</script>

{% schema %}
  {
    "name": "Nas selector",
    "settings": [
    ],
    "presets": [
      {
        "name": "Nas selector"
      }
    ]
  }
{% endschema %}