{% assign obj = page.metafields.custom.selector.value | parse_json %}
<script>
   var nasSelectorData = {{ obj | json }};
</script>

{% assign baysObj = obj.bays.value  %}
{% assign bays = baysObj.bays | json %}
{% assign funcitons = obj.funcitons.value %}
{% assign number = obj.number.value %}
{% assign products = obj.products.value %}
{% assign userType = obj.user_type.value %}

<div class="nas-selector">
  {% for bay in bays %}<span>{{ bay }}</span>{% endfor %}
</div>


<script>
      console.log(nasSelectorData);

      // 示例：遍历并使用数据
      var bays = nasSelectorData.bays;
      var functions = nasSelectorData.functions;
      var number = nasSelectorData.number;
      var products = nasSelectorData.products;
      var userType = nasSelectorData.user_type;

      // 示例：遍历 bays
      for (var bay in bays) {
        if (bays.hasOwnProperty(bay)) {
          console.log(bay, bays[bay]);
        }
      }

      // 示例：遍历 functions
      for (var func in functions) {
        if (functions.hasOwnProperty(func)) {
          console.log(func, functions[func]);
        }
      }
</script>

{% schema %}
  {
    "name": "Nas selector",
    "settings": [
    ],
    "presets": [
      {
        "name": "Nas selector"
      }
    ]
  }
{% endschema %}