
{% assign obj = page.metafields.custom.selector.value %}
{% assign bays = page.metafields.custom.selector.value.bays.bays %}
{% assign funcitons = page.metafields.custom.selector.value.funcitons.funcitons %}
{% assign number = page.metafields.custom.selector.value.number %}
{% assign products = page.metafields.custom.selector.value.products %}
{% assign userType = page.metafields.custom.selector.value.user_type %}
<div class="nas-selector">
 
  {{ bays.value | json }}
</div>

<script type="module">
</script>

{% schema %}
  {
    "name": "Nas selector",
    "settings": [
    ],
    "presets": [
      {
        "name": "Nas selector"
      }
    ]
  }
{% endschema %}