<style>
    .faq .section-title{
        margin-bottom: 20px;
        text-align: center;
    }
    .faq .faq-wrapper{
        display: flex;
        justify-content: space-between;
    }
  @media only screen and (max-width: 768px){

  }
</style>

<div class="faq section-vertical-spacer container">
  <div class="faq-box container">
    <h2 class="section-title">{{ section.settings.title }}</h2>
    <div class="faq-wrapper">
        <div class="left">
            {% for block in section.settings %}
                <div class="item">
                    <h3>{{ block.settings.nametab }}</h3>
                </div>
            {% endfor %}
        </div>
        <div class="right"></div>
    </div>
  </div>
</div>

<script type="module"></script>

{% schema %}
{
  "name": "SPX Faq",
  "settings": [
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks":[
    {
      "type":"block",
      "name":"text content",
      "settings":[
        {
          "type": "text",
          "id": "nametab",
          "label": "Tab title",
           "default": "Performance"
        },
        {
          "type": "text",
          "id": "FAQ_question1",
          "label": "Question 1",
          "default": "Can the cleaner be used in different pools, such as a vinyl pool liner? Would it need to be remapped each time?"
        },
         {
          "type": "text",
          "id": "FAQ_answer1",
          "label": "answer 1",
          "default": "Yes, you can purchase Genkinno Warranty Plus up to 60 days after you’ve purchased the product."
        },
        {
          "type": "text",
          "id": "FAQ_question2",
          "label": "Question 2"
        },
         {
          "type": "text",
          "id": "FAQ_answer2",
          "label": "answer 2"
        },
        {
          "type": "text",
          "id": "FAQ_question3",
          "label": "Question 3"
        },
         {
          "type": "text",
          "id": "FAQ_answer3",
          "label": "answer 3"
        },
         {
          "type": "text",
          "id": "FAQ_question4",
          "label": "Question 4"
        },
         {
          "type": "text",
          "id": "FAQ_answer4",
          "label": "answer 4"
        },

        {
          "type": "text",
          "id": "FAQ_question5",
          "label": "Question 5"
        },
         {
          "type": "text",
          "id": "FAQ_answer5",
          "label": "answer 5"
        },
                  {
          "type": "text",
          "id": "FAQ_question6",
          "label": "Question 6"
        },
         {
          "type": "text",
          "id": "FAQ_answer6",
          "label": "answer 6"
        },
                  {
          "type": "text",
          "id": "FAQ_question7",
          "label": "Question 7"
        },
         {
          "type": "text",
          "id": "FAQ_answer7",
          "label": "answer 7"
        },
         {
          "type": "text",
          "id": "FAQ_question8",
          "label": "Question 8"
        },
         {
          "type": "text",
          "id": "FAQ_answer8",
          "label": "answer 8"

        },
            {
          "type": "text",
          "id": "FAQ_question9",
          "label": "Question 9"
        },
         {
          "type": "text",
          "id": "FAQ_answer9",
          "label": "answer 9"
        },
          {
          "type": "text",
          "id": "FAQ_question10",
          "label": "Question 10"
        },
         {
          "type": "text",
          "id": "FAQ_answer10",
          "label": "answer 10"
        },
          {
          "type": "text",
          "id": "FAQ_question11",
          "label": "Question 11"
        },
         {
          "type": "text",
          "id": "FAQ_answer11",
          "label": "answer 11"
        },
         {
          "type": "text",
          "id": "FAQ_question12",
          "label": "Question 12"
        },
         {
          "type": "text",
          "id": "FAQ_answer12",
          "label": "answer 12"
        },
          {
          "type": "text",
          "id": "FAQ_question13",
          "label": "Question 13"
        },
         {
          "type": "text",
          "id": "FAQ_answer13",
          "label": "answer 13"
        },
        {
          "type": "text",
          "id": "FAQ_question14",
          "label": "Question 14"
        },
         {
          "type": "text",
          "id": "FAQ_answer14",
          "label": "answer 14"
        },
         {
          "type": "text",
          "id": "FAQ_question15",
          "label": "Question 15"
        },
         {
          "type": "text",
          "id": "FAQ_answer15",
          "label": "answer 15"
        }
      ]
    }
  ],
  "presets": [
      {
      "name": "SPX Faq"
      }
  ]
}
{% endschema %}
