<style>

</style>
<div class="ph-test">
    <div class="img-box">
        <div class="img-wrapper">
            {{- section.settings.img | image_url: width: section.settings.img.width |  image_tag: is: 'loess-image', class:"ph-img", loading: 'lazy', sizes: sizes, widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200' -}}
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "SPX Placeholder",
        "settings": [
        {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
            },
        {
            "type": "image_picker",
            "id": "img_mb",
            "label": "Image mobile"
            }
        ],
        
    "presets": [
        {
        "name": "SPX Placeholder"
        }
    ]
    
    }
{% endschema %}