

<style>

  @media only screen and (max-width: 768px){
  }
</style>

<div class="spx-video section-vertical-spacer">
  <div class="container">
    <img class="img" src="https://cdn.shopify.com/s/files/1/0644/1870/9653/files/rotate.png?v=1705307888">
    <img class="img" src="https://cdn.shopify.com/s/files/1/0644/1870/9653/files/oak.png?v=1705308358">
  </div>
</div>

<script type="module">
  $(document).ready(function() {
      
  });
</script>

{% schema %}
  {
    "name": "SPX Hover",
    "settings": [
          {
            "type": "textarea",
            "id": "video",
            "label": "Video link"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image pc"
          },
          {
            "type": "image_picker",
            "id": "img_m",
            "label": "Image m"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }
    ],
  "presets": [
    {
      "name": "SPX Hover"
    }
  ]
    
  }
{% endschema %}