<style>

  @media only screen and (max-width: 1000px){

  }
  @media only screen and (max-width: 768px){

  }
</style>

<div class="scroll-imgs">
  
</div>

<script type="module">
    
</script>

{% schema %}
  {
    "name": "SPX Scroll images",
    "settings": [
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }
    ],
  "presets": [
    {
      "name": "SPX Scroll images"
    }
  ]
    
  }
{% endschema %}