<style>
  .scroll-imgs2{
      width: 100%;
      height: 100vh; /* 设置为视口高度 */
      background: #F6F5F8;
      overflow: hidden; /* 隐藏溢出部分 */
      position: relative;
  }
  .scroll-imgs2 .sticky-wrapper{
      height: 100vh;
      margin: 0 auto;
  }
  .scroll-imgs2 .scroll-text{
    position: absolute;
    width: 280px;
    color: #999;
    opacity: 0;
    transition: all 0.3s linear;
  }
  .scroll-imgs2 #text1{
    top: 50%;
    left: 10%;
  }
  .scroll-imgs2 #text2{
    top: 50%;
    right: 10%;
  }
  .scroll-imgs2 #text3{
    top: 52%;
    left: 10%;
  }
  .scroll-imgs2 #text4{
    top: 52%;
    right: 10%;
  }
  .scroll-imgs2 #text5{
    top: 53%;
    left: 10%;
  }
  .scroll-imgs2 #scrolling{
      width: 100%;
      height: 100%;
  }
  @media only screen and (max-width: 1000px){

  }
  @media only screen and (max-width: 768px){

  }
</style>

<div class="scroll-imgs2">
  <div class="content-wrapper">
    <h2 class="sub-title">Technology</h2>
    <p class="title">Innovation you can see, hear, and&nbsp;feel.</p>
    <div>Pushing boundaries from the inside out. Spatial experiences on Apple Vision Pro are only possible through groundbreaking Apple technology. Displays the size of a postage stamp that deliver more pixels than a 4K TV to each eye. Incredible advances in Spatial Audio. A revolutionary dual‑chip design featuring custom Apple silicon. A sophisticated array of cameras and sensors. All the elements work together to create an unprecedented experience you have to see to believe.</div>
  </div>
  <div class="sticky-wrapper">
    <div class="img-wrapper">
      <img class="img-1" src="https://cdn.shopify.com/s/files/1/0644/1870/9653/files/a1.png?v=1705401044">
      <img class="img-2" src="https://cdn.shopify.com/s/files/1/0644/1870/9653/files/a2.png?v=1705401045">
      <img class="img-3" src="https://cdn.shopify.com/s/files/1/0644/1870/9653/files/a3.png?v=1705401044">
      <img class="img-4" src="https://cdn.shopify.com/s/files/1/0644/1870/9653/files/a4.png?v=1705401044">
      <img class="img-5" src="https://cdn.shopify.com/s/files/1/0644/1870/9653/files/a5.png?v=1705401045">
      <img class="img-6" src="https://cdn.shopify.com/s/files/1/0644/1870/9653/files/a6.png?v=1705401044">
      <img class="img-7" src="https://cdn.shopify.com/s/files/1/0644/1870/9653/files/a7.png?v=1705401045">
    </div>
  </div>
</div>

<script type="module">


</script>

{% schema %}
  {
    "name": "SPX Scroll images 02",
    "settings": [
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      }
    ],
  "presets": [
    {
      "name": "SPX Scroll images 02"
    }
  ]
    
  }
{% endschema %}