<style>
.home-fh-blocks{

}
  @media only screen and (max-width: 768px){

  }
  @media only screen and (max-width: 590px){


  }
</style>

<div class="home-fh-blocks">
  
</div>



{% schema %}
  {
    "name": "SPX FixedHeight Blocks",
    "max_blocks": 4,
    "settings": [
    ],
    "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "width",
          "label": "Width"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "img_mb",
          "label": "Image mobile"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "btn_name",
          "label": "Button name"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "btn_name2",
          "label": "Button name"
        },
        {
          "type": "url",
          "id": "link2",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SPX FixedHeight Blocks"
    }
  ]
    
  }
{% endschema %}