

<style>
  .spx-hover .img-wrapper{
    max-width: 200px;
    margin: 100px auto 0;
    position: relative;
  }
  .img-rotate{
    transform: rotate(30deg) scale(0);
    z-index: -1;
  }
  .img-wrapper:hover .img-rotate{
    transform: rotate(0) scale(8.5);
  }
  @media only screen and (max-width: 768px){
  }
</style>

<div class="spx-hover section-vertical-spacer">
  <div class="container">
    <div class="img-wrapper">
      <img class="img-rotate" src="https://cdn.shopify.com/s/files/1/0644/1870/9653/files/rotate.png?v=1705307888">
      <img class="img-main" src="https://cdn.shopify.com/s/files/1/0644/1870/9653/files/oak.png?v=1705308358">
    </div>
  </div>
</div>

<script type="module">
  $(document).ready(function() {
      
  });
</script>

{% schema %}
  {
    "name": "SPX Hover",
    "settings": [
          {
            "type": "textarea",
            "id": "video",
            "label": "Video link"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image pc"
          },
          {
            "type": "image_picker",
            "id": "img_m",
            "label": "Image m"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }
    ],
  "presets": [
    {
      "name": "SPX Hover"
    }
  ]
    
  }
{% endschema %}