img{
    width: 100%;
    display: block;
}
.hide-mb {
    display: block;
}

.hide-pc {
    display: none;
}

.fadein {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fadein.fadein2 {
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fadein.active,
.fadein.fadein2.active,
.swiper-slide-active .fadein,
.swiper-slide-duplicate-active .fadein{
    opacity: 1;
    transform: translateY(0);
}
.btn-progress{
    position: relative;
}
.btn-progress::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 2px;
    color: #6D2412;
    width: 0%;
}
@media screen and (max-width: 768px) {
    .hide-mb {
        display: none;
    }

    .hide-pc {
        display: block;
    }
}